.manager_area{
    margin : 10px 40px 0 40px;
}

.cui_list{
    //display : flex;
    margin-top : 10px;

    .cui_item{
        //flex : 1;
        margin-bottom:10px;
        label {
            display : inline-block;
            width : 80px;
        }
        input {
            font-size : 12px;
        }
    }
}
