.search_bar{
    display : inline-block;
    vertical-align : middle;

    .search_bar_icon{
        vertical-align : 3px;
        :global(.fa-search){
            font-size : 14px;
        }
    }

    .search_bar_input{
        width : 0;
        height: 25px;
        transition : all .3s;
        border : 0;
        color : #777;
        vertical-align: 1px;

        &.active{
            width : 160px;
        }
        &:focus{
            outline : none;
        }
    }

    .search_bar_result{
        position : absolute;
        top : 59px;
        transition : all .3s;
        transform : scaleY(0);
        opacity : 0;
        transform-origin : top;
        box-shadow: 0 0 8px rgba(0,0,0,.1);

        .result_list{
            width : 220px;
            background-color : #fff;
            border : 1px solid #efefef;
            border-radius : 3px;

            li{
                padding : 0 10px;
                height : 40px;
                line-height : 40px;
                &:hover{
                    background-color : #fff9ea;
                }
                a {
                    display : block;
                    color : #888;
                    font-size : 12px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }

    .search_bar_result_show{
        opacity : 1;
        transform : scaleY(1);
    }
}
