.active_route {
  font-weight: bold;
  text-decoration: underline;
}

.header{
    height : 60px;
    line-height : 60px;
    border-bottom : 1px solid #efefef;
    background: #fff;
    .header_title{
        position : relative;
        font-size: 24px;
        margin : 0 30px 0 40px;
        display: inline-block;
        font-weight: 500;
        font-family : STKaiti,Kaiti;
        &:after{
            content : '/';
            position : absolute;
            right : -20px;
            font-size : 20px;
            color : #f5f5f5;
        }

        a {
          color: #196ade;
          transition: color .3s;
        }   
    }

    .des{
        display: inline-block;
        vertical-align: 3px;
        color: #999;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        font-size : 12px;
    }

    .meta_area{
        display : inline-block;
        vertical-align : 3px;
        margin-right : 10px;

        .meta_content{
            background: #fff;
            position: absolute;
            left: 0;
            width: 50%;
            z-index: 10;
            border-bottom: 1px solid #efefef;
            margin-left: -1px;
            padding: 8px 30px;
            line-height: 26px; 
            font-size : 12px;
			box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
        }

        .meta_content{
            :global(.tag-close){
                top : 7px;
            }
        }

        .meta_close{
            position : absolute;
            right : 10px;
            top :10px;
            font-size : 12px;
            color : #999;
            cursor : pointer;
        }
    }

    .info{
        position : absolute;
        right : 30px;
        top : 0;

        .account{
            margin-left : 20px;
            img{
                border-radius: 100%;
                width: 30px;
                position: relative;
                top: -2px;
                overflow: hidden;
                vertical-align: middle;
            }
        }

        .new_list{
            width : 100px;
            text-align : left;
            li{
                padding : 10px 0 10px 10px;
                font-weight : 500;
                &:hover{
                    background-color : #f5f5f5;
                }
                a{
                    display : block;
                    color : #666;
                }
            }
            .new_list_item_cui{
                border-top : 1px solid #efefef;
            }
        }

        .ciddle_new {
            color: #666;
            margin: 0 4px;
            padding: 4px 8px;
            font-size: 13px;
        }

    }

    .status {
        position: absolute;
        top: 0;
        text-align: center;
        left: 50%;
        transform: translateX(-50%);
        color: #99D97F;
        font-size: 12px;

        &.icon {
          font-size: 18px;
          color: #999;
        }
        &.error {
          color: #f50;
        }
    }

    .create_btn{
        :global(.popover){
            padding : 0;
            top : 27px;
            bottom: inherit;
        }
    }
}

.home_checkbox{
    float : right;
    font-size : 12px;
}
