.ciddle_list{
    display : flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ciddle_list_item_tag{
    margin-left: 10px;
    //color: #196ade;
    &:before{
        content : '#';
        margin-right: 2px;
        color: #aaa;
        font-family: Consolas;
    }
}

.ciddle_list_item_title{
    margin-bottom : 10px;
    a{
        color : #666;
    }
}

.ciddle_list_item_des{
    color : #999;
    margin-bottom : 30px;
    a{
        margin-right :5px;
        color : #196ade
    }
}

.ciddle_list_item{
    flex: 0 1 32.5%;
    padding : 10px 20px;
	cursor:pointer;
    margin-bottom : 15px;
    border : 1px solid #efefef;
    background: #fff;
    transition : border-color ease-out .2s;

    &:hover{
        border-color : #196ade;
    }
}

.ciddle_list_item_private{
    background-color : #fff9ea;
    border-color : #dfd8c2;

    &:hover{
        border-color : #ad9343;
    }
}

.ciddle_list_item_lock{
    margin-left : 10px;
}

.ciddle_list_item_star_area{
    float : right;
    margin-left : 10px;
}

.ciddle_list_item_star{
    color : #fa5;
}

.ciddle_list_item_star_count{
    font-weight: 400;
    margin-left: 5px;
}

.ciddle_list_item_types{
    font-size :12px;
    display : flex;
    .ciddle_list_item_type_area{
        margin-right : 20px;
        font-weight : normal;
        &:before{
            display : inline-block;
            content : '';
            width : 12px;
            height : 12px;
            border-radius : 20px;
            background-color : #5B91E8;
            vertical-align : -1px;
            margin-right : 5px;
        }
    }

    .ciddle_list_item_type_area_weex{
        &:before{
           background-color : #5B91E8; 
        }
    }
    .ciddle_list_item_type_area_raw{
        &:before{
           background-color : #FDE034; 
        }
    }
    .ciddle_list_item_type_area_react{
        &:before{
           background-color : #9AE7FB; 
        }
    }
    .ciddle_list_item_type_area_md{
        &:before{
           background-color : #009888; 
        }
    }

    .ciddle_list_item_type_area_walle{
        &:before{
           background-color : #fd7065; 
        }
    }

    .ciddle_list_item_type_area_cui{
        &:before{
           background-color : #d7d4f0; 
        }
    }

    .ciddle_list_item_tag_area{
        flex : 1;
        text-align : right;
        font-size : 12px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

.ciddle_list_item_fake{
    flex: 0 1 32.5%;
}
