// Tooltip arrow width
$tooltip-arrow-width: 4px;
$tooltip-distance: 4px;

.tooltip {
  padding-bottom: $tooltip-distance;
  font-size: 12px;
  position: absolute;
  color: #666;
  z-index: 1000;

  &:global(-content) {
    border: 1px solid #e9e9e9;
    max-width: 166px;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
    background: #fff;
    padding: 8px 12px;
    border-radius: 4px;
  }

  &.auto-width &:global(-content) {
    max-width: none;
  }

  &:global(-hidden) {
    display: none;
  }

  // Arrows
  &:global(-arrow) {
    &,
    &:after {
      position: absolute;
      width: 0;
      height: 0;
      border-color: transparent;
      border-style: solid;
      left: 50%;
      margin-left: -$tooltip-arrow-width;
    }
    & {
      bottom: -$tooltip-arrow-width + $tooltip-distance;
      border-width: $tooltip-arrow-width $tooltip-arrow-width 0;
      border-top-color: #e9e9e9;
    }
    &:after {
      content: " ";
      bottom: -3px;
      border-bottom-width: 0;
      border-top-color: #fff;
      border-width: $tooltip-arrow-width;
      content: "";
    }
  }
}

